* {
    box-sizing: border-box;
}

body {
    font-family: ralewaymedium;
}

.container {
    margin: 0 auto;
    width: 900px;
/*    border: 0.5px solid #f06;*/
}

header {
    background-color: #000;
    color: #fff;
}

.logo {
    float: left;
    padding: 10px 0;
}

.logo span {
    font-family: ralewayextrabold;
    color: #4BC3A9;
}

.menu {
    float: right;
    padding: 10px 0 10px;
    position: relative;
}

.menu li {
    display: inline-block;
    padding: 0 0 0 40px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.dropdown {
    display: none;
    position: absolute;
    left: 30px;
    top: 50px;
    list-style-type: none;
    font-family: ralewaylight;
    
}

.dropdown li {
    background-color: #000;
    display: inherit;
    padding: 5px 10px 5px;
    line-height: 18px;
    font-size: 14px;
}

/* black arrow in the form of a triangle, it would be rather nice
to make it disappear with a delay (css transitions??) so that it's
easier for the user to click on the dropdown menu */
li:hover > .dropdown::before {
    content: '';
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid black;
    border-right: 10px solid transparent;
    position: absolute;
    top: -20px;
    left: 40px;
}

li:hover > .dropdown {
    display: block;
}

.section1 {
    background-image: linear-gradient(#fff, rgba(0, 0, 0, .15));
    padding: 67px 0 0 0;
}

/*
.blankspace {
    width: 100%;
    height: 50px;
    clear: both;
}
*/

.prev, .image, .text {
    float: left;
}

.prev, .next {
    width: 40px;
    height: 350px;
    cursor: pointer;
    line-height: 300px;
    font-family: ralewaylight;
    color: #4BC3A9;
    font-size: 76px;
}

.prev:hover, .next:hover {
    color: #2F8E83;
}

.next {
    float: right;
}

.image {
    background-image: url('../images/black_chair.png');
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    
}

.text {
    text-align: center;
    width: 450px;
    height: 350px;
    padding: 50px;
    
}

.text h1 {
    font-size: 36px;
}

.text span {
    color: #4BC3A9;
    font-family: ralewayextrabold;
}

.text p {
    margin: 20px 0 30px;
    font-size: 14px;
    line-height: 20px;
}

.text a {
    display: block;
    width: 200px;
    margin: 20px auto;
    color: white;
    background-color: #4BC3A9;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 7px;
    
}

.text a:hover {
    background-color: #2F8E83;
}