html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

main, article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img, object, embed {
  max-width: 100%;
}

html {
  overflow-y: scroll;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

table th {
  font-weight: bold;
  vertical-align: bottom;
}

table td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

.clickable, label, input[type=button], input[type=submit], input[type=file], button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

button, input[type=button] {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

@font-face {
  font-family: "ralewayblack";
  src: url("../../fonts/raleway/raleway-black.woff2") format("woff2"), url("../../fonts/raleway/raleway-black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewayblack_italic";
  src: url("../../fonts/raleway/raleway-blackitalic.woff2") format("woff2"), url("../../fonts/raleway/raleway-blackitalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewaybold";
  src: url("../../fonts/raleway/raleway-bold.woff2") format("woff2"), url("../../fonts/raleway/raleway-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewaybold_italic";
  src: url("../../fonts/raleway/raleway-bolditalic.woff2") format("woff2"), url("../../fonts/raleway/raleway-bolditalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewayextrabold";
  src: url("../../fonts/raleway/raleway-extrabold.woff2") format("woff2"), url("../../fonts/raleway/raleway-extrabold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewayextrabold_italic";
  src: url("../../fonts/raleway/raleway-extrabolditalic.woff2") format("woff2"), url("../../fonts/raleway/raleway-extrabolditalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewayextralight";
  src: url("../../fonts/raleway/raleway-extralight.woff2") format("woff2"), url("../../fonts/raleway/raleway-extralight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewayextralight_italic";
  src: url("../../fonts/raleway/raleway-extralightitalic.woff2") format("woff2"), url("../../fonts/raleway/raleway-extralightitalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewayitalic";
  src: url("../../fonts/raleway/raleway-italic.woff2") format("woff2"), url("../../fonts/raleway/raleway-italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewaylight";
  src: url("../../fonts/raleway/raleway-light.woff2") format("woff2"), url("../../fonts/raleway/raleway-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewaylight_italic";
  src: url("../../fonts/raleway/raleway-lightitalic.woff2") format("woff2"), url("../../fonts/raleway/raleway-lightitalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewaymedium";
  src: url("../../fonts/raleway/raleway-medium.woff2") format("woff2"), url("../../fonts/raleway/raleway-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewaymedium_italic";
  src: url("../../fonts/raleway/raleway-mediumitalic.woff2") format("woff2"), url("../../fonts/raleway/raleway-mediumitalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewayregular";
  src: url("../../fonts/raleway/raleway-regular.woff2") format("woff2"), url("../../fonts/raleway/raleway-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewaysemibold";
  src: url("../../fonts/raleway/raleway-semibold.woff2") format("woff2"), url("../../fonts/raleway/raleway-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewaysemibold_italic";
  src: url("../../fonts/raleway/raleway-semibolditalic.woff2") format("woff2"), url("../../fonts/raleway/raleway-semibolditalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewaythin";
  src: url("../../fonts/raleway/raleway-thin.woff2") format("woff2"), url("../../fonts/raleway/raleway-thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewaythin_italic";
  src: url("../../fonts/raleway/raleway-thinitalic.woff2") format("woff2"), url("../../fonts/raleway/raleway-thinitalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

html body {
  font-family: ralewaymedium, Arial, Verdana, sans-serif;
}

html body > .flex {
  justify-content: center;
}

html .container {
  width: 1045px;
}

html .flex {
  display: -webkit- flex;
  display: -moz- flex;
  display: -ms- flex;
  display: -o- flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

html .column {
  flex-direction: column;
}

html .green_bell {
  background-color: #24baa0;
  width: 31rem;
  height: 0.8rem;
  display: inline-block;
}

@media screen and (min-width: 1045px) {
  html {
    font-size: 10px;
  }
}

.fullscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.75);
}

.banner {
  border: 5px solid black;
  width: 600px;
  height: 250px;
  background-color: #fff;
  margin: 100px auto;
}

.banner .mainwidth {
  width: 480px;
  margin: 0 auto;
  display: -webkit- flex;
  display: -moz- flex;
  display: -ms- flex;
  display: -o- flex;
  display: flex;
  flex-flow: column;
}

.banner .mainwidth .row3 {
  order: -1;
}

.banner .mainwidth .row1 {
  order: 1;
}

.banner .mainwidth [class*=row] {
  width: 45%;
  margin: 5px auto;
  height: 50px;
}

.banner .mainwidth [class*=row] .text {
  float: left;
  line-height: 50px;
  font-weight: bold;
}

.banner .mainwidth [class*=row] [class*=image] {
  float: right;
  width: 50px;
  height: 50px;
  background-image: url("../images/sprite.png");
  background-size: 200px;
}

.banner .mainwidth [class*=row] .image0 {
  background-position: 0px 50px;
}

.banner .mainwidth [class*=row] .image1 {
  background-position: 50px 50px;
}

.banner .mainwidth [class*=row] .image2 {
  background-position: 100px 50px;
}

.banner .mainwidth [class*=row] .image3 {
  background-position: 150px 50px;
}

header {
  background-color: #000;
  color: #fff;
  font-size: 1.5rem;
  font-family: ralewaysemibold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

header .container {
  display: -webkit- flex;
  display: -moz- flex;
  display: -ms- flex;
  display: -o- flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  padding: 1rem 0;
  font-size: 2rem;
}

header .logo span {
  font-family: ralewayextrabold;
  color: #4BC3A9;
}

header nav ul:not(.dropdown) {
  width: 30rem;
  height: 100%;
  display: -webkit- flex;
  display: -moz- flex;
  display: -ms- flex;
  display: -o- flex;
  display: flex;
  justify-content: space-between;
}

header nav li {
  display: -webkit- flex;
  display: -moz- flex;
  display: -ms- flex;
  display: -o- flex;
  display: flex;
  align-items: flex-end;
  height: 4rem;
  padding: 0.5rem;
  z-index: 1;
  position: relative;
}

header nav a {
  color: #fff;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

header nav a .underline {
  width: 0;
  height: 1px;
  margin-top: 0.5rem;
  background-color: #fff;
  transition: 0.5s;
}

header nav a:hover .underline {
  width: 100%;
}

header .dropdown {
  height: 0;
  position: absolute;
  left: -1.75rem;
  top: -10rem;
  list-style-type: none;
  font-family: ralewaymedium;
  opacity: 0;
  transition: opacity 1s, top 0s;
}

header .dropdown > li {
  height: auto;
  background-color: #000;
  display: inherit;
  padding: 0.5rem 1.5rem;
}

header .dropdown > li .underline {
  margin-top: 0;
}

header .dropdown > li:first-child {
  padding-top: 1rem;
}

header .dropdown > li:last-child {
  padding-bottom: 1rem;
}

header li:hover > .dropdown::before {
  content: '';
  height: 0;
  width: 0;
  border-top: 1.2rem solid transparent;
  border-left: 1.2rem solid transparent;
  border-bottom: 1.2rem solid black;
  border-right: 1.2rem solid transparent;
  position: absolute;
  top: -2rem;
  left: 4.25rem;
}

header li:hover > .dropdown {
  display: -webkit- flex;
  display: -moz- flex;
  display: -ms- flex;
  display: -o- flex;
  display: flex;
  top: 5.25rem;
  height: auto;
  opacity: 1;
}

#section1 {
  background-image: linear-gradient(#fff, rgba(0, 0, 0, 0.15));
  height: 50rem;
  align-items: center;
}

#section1 .container {
  height: 40rem;
  justify-content: space-between;
  align-items: flex-end;
}

#section1 .prev, #section1 .next {
  width: 5rem;
  height: 100%;
  cursor: pointer;
  font-family: ralewaylight;
  color: #4BC3A9;
  font-size: 7.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  justify-content: center;
  align-items: center;
}

#section1 .prev .left, #section1 .prev .right, #section1 .next .left, #section1 .next .right {
  position: relative;
  transition: 0.5s;
}

#section1 .prev .left, #section1 .next .left {
  left: 0;
}

#section1 .prev .right, #section1 .next .right {
  right: 0;
}

#section1 .prev:hover .left, #section1 .next:hover .left {
  left: -2rem;
}

#section1 .prev:hover .right, #section1 .next:hover .right {
  right: -2rem;
}

#section1 ul {
  list-style: none;
}

#section1 ul li {
  display: none;
}

#section1 ul li.visible {
  display: block;
  float: left;
  width: 41rem;
  overflow: hidden;
}

#section1 ul li.visible img {
  position: relative;
  left: -10rem;
  top: 3rem;
  width: 140%;
  max-width: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#section1 .text {
  display: -webkit- flex;
  display: -moz- flex;
  display: -ms- flex;
  display: -o- flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 42rem;
  height: 38rem;
}

#section1 .text h1 {
  font-size: 4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#section1 .text span {
  color: #4BC3A9;
  font-family: ralewaybold;
}

#section1 .text p {
  margin: 2rem 0;
  font-size: 1.4rem;
  font-family: ralewaymedium;
  line-height: 2.5rem;
}

#section1 .text a {
  box-sizing: border-box;
  width: 27rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  color: white;
  font-size: 2.25rem;
  background-color: #4BC3A9;
  text-decoration: none;
  border-radius: 0.7rem;
  transition: background 0.5s, color 0.5s;
}

#section1 .text a:hover {
  background-color: #fff;
  color: #4BC3A9;
  border: 0.25rem solid #4BC3A9;
}

#section1 .empty-space {
  width: 5rem;
}

#section2 {
  background-color: #fff;
  height: 35rem;
}

#section2 .container {
  justify-content: space-between;
  align-items: flex-start;
}

#section2 #chairclair, #section2 #chairmarg {
  position: relative;
}

#section2 #chairclair, #section2 #chairmarg, #section2 #findsall {
  width: 33rem;
  margin: 3rem 0;
}

#section2 #chairclair div, #section2 #chairmarg div, #section2 #findsall div {
  font-family: ralewaybold;
  color: #000;
  border-bottom: 0.7rem solid #4BC3A9;
  font-size: 1.6rem;
  width: 14.5rem;
  padding: 0 0.5rem 0 0;
}

#section2 figure figcaption {
  position: absolute;
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  top: 15rem;
  padding: 1rem 1rem 2rem;
  opacity: 1;
  transition: 0.5s;
}

#section2 figure:hover figcaption {
  opacity: 0;
}

#section2 #findsall {
  float: right;
  border: 1px solid #ddd;
  height: 25rem;
  padding: 2rem;
  text-align: left;
}

#section2 #findsall p {
  padding: 0;
  margin: 1.5rem 0;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

#cennik {
  background-color: #efeded;
  height: 72rem;
  padding: 3.5rem 0 0 0;
  align-items: flex-start;
}

#cennik .container {
  justify-content: space-between;
}

#cennik h2 {
  color: #575757;
  font-family: ralewaysemibold;
  font-size: 2rem;
}

#cennik .box {
  display: -webkit- flex;
  display: -moz- flex;
  display: -ms- flex;
  display: -o- flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 33rem;
  height: 50rem;
  border: 0.2rem solid #ccc7c7;
  position: relative;
  font-size: 1.6rem;
  background: #f7f2f2;
  margin-top: 4rem;
  color: #aaa;
  font-family: ralewaymedium, Arial, sans-serif;
  text-align: center;
  transition: 0.5s;
}

#cennik .box h3 {
  color: #4BC3A9;
  font-size: 2.5rem;
  margin: 2rem 0 0;
  font-family: ralewaymedium;
  transition: inherit;
}

#cennik .box .circle, #cennik .box .dot {
  position: absolute;
  border-radius: 50%;
  transition: inherit;
}

#cennik .box .circle {
  width: 6rem;
  height: 6rem;
  border: 0.2rem solid #ccc7c7;
  top: -4rem;
  left: 13rem;
  background: #fff;
}

#cennik .box .dot {
  width: 3rem;
  height: 3rem;
  background-color: #aaa;
  border-radius: 50%;
  top: 1.3rem;
  left: 1.3rem;
}

#cennik .box .price {
  display: -webkit- flex;
  display: -moz- flex;
  display: -ms- flex;
  display: -o- flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 13rem;
  height: 13rem;
  border: 2px solid #ccc7c7;
  background: #fff;
  border-radius: 50%;
  font-size: 4.5rem;
  font-family: ralewaybold;
  transition: inherit;
}

#cennik .box .price .number {
  position: relative;
  left: -0.5rem;
}

#cennik .box .price sup {
  font-size: 1.4rem;
  position: absolute;
  top: 1.2rem;
}

#cennik .box .price .unit {
  font-size: 1.6rem;
  font-family: ralewaysemibold;
}

#cennik .box .table_wrapper {
  width: 100%;
  height: 16rem;
  transition: inherit;
  color: #848080;
  font-size: 2rem;
  transition: inherit;
}

#cennik .box .table_wrapper p {
  line-height: 4rem;
  transition: inherit;
}

#cennik .box .table_wrapper p:nth-child(2n+1) {
  background-color: #d8d6d6;
}

#cennik .box .table_wrapper p:nth-child(2n) {
  background-color: #efeded;
}

#cennik .box a {
  display: block;
  border-radius: 0.7rem;
  background: #4BC3A9;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 3rem;
  margin-bottom: 1rem;
  transition: inherit;
}

#cennik .box:hover {
  border: 0.2rem solid #4BC3A9;
  background-color: #4BC3A9;
}

#cennik .box:hover .circle {
  background-color: #4BC3A9;
  border: 2px solid #4BC3A9;
}

#cennik .box:hover h3 {
  color: #fff;
}

#cennik .box:hover .dot {
  background-color: #fff;
  border: 2px solid #fff;
}

#cennik .box:hover .price {
  color: #4BC3A9;
  border: 2px solid #4BC3A9;
}

#cennik .box:hover p:nth-child(2n+1) {
  background-color: #f7f2f2;
}

#cennik .box:hover p:nth-child(2n) {
  background-color: #efeded;
}

#cennik .box:hover a {
  color: #4BC3A9;
  background-color: #fff;
}

section.kalkulator {
  background-color: #f9f9f9;
  height: 50rem;
  display: -webkit- flex;
  display: -moz- flex;
  display: -ms- flex;
  display: -o- flex;
  display: flex;
  align-items: center;
}

section.kalkulator .container {
  display: -webkit- flex;
  display: -moz- flex;
  display: -ms- flex;
  display: -o- flex;
  display: flex;
  justify-content: space-between;
}

section.kalkulator .container .green_bell {
  width: 23rem;
}

section.kalkulator header {
  background-color: inherit;
}

section.kalkulator header h3 {
  color: #575757;
  font-size: 2rem;
}

section.kalkulator section.choice_part, section.kalkulator section.image_part, section.kalkulator section.summary_part {
  display: -webkit- flex;
  display: -moz- flex;
  display: -ms- flex;
  display: -o- flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33rem;
  height: 40rem;
}

section.kalkulator section.choice_part .drop_down_list, section.kalkulator section.image_part .drop_down_list, section.kalkulator section.summary_part .drop_down_list {
  border: 1px solid #8de0d2;
  width: 33rem;
  height: 6rem;
  font-size: 2.4rem;
  background-color: white;
  margin-top: 2rem;
  padding: 0.8rem 1.2rem;
  position: relative;
  cursor: pointer;
}

section.kalkulator section.choice_part .drop_down_list .list_label, section.kalkulator section.image_part .drop_down_list .list_label, section.kalkulator section.summary_part .drop_down_list .list_label {
  font-size: 2.8rem;
  color: #afafaf;
  font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
  line-height: 4.4rem;
  transition: 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

section.kalkulator section.choice_part .drop_down_list:hover .list_label, section.kalkulator section.image_part .drop_down_list:hover .list_label, section.kalkulator section.summary_part .drop_down_list:hover .list_label {
  color: #333333;
}

section.kalkulator section.choice_part .drop_down_list .list_arrow, section.kalkulator section.image_part .drop_down_list .list_arrow, section.kalkulator section.summary_part .drop_down_list .list_arrow {
  width: 0;
  height: 0;
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-top: 1.5rem solid #24baa0;
  display: block;
  position: absolute;
  right: 2rem;
  top: 2.5rem;
  transition: 0.25s;
}

section.kalkulator section.choice_part .drop_down_list:hover .list_arrow, section.kalkulator section.image_part .drop_down_list:hover .list_arrow, section.kalkulator section.summary_part .drop_down_list:hover .list_arrow {
  top: 3rem;
}

section.kalkulator section.choice_part .drop_down_list .list_panel, section.kalkulator section.image_part .drop_down_list .list_panel, section.kalkulator section.summary_part .drop_down_list .list_panel {
  background-color: white;
  border: 1px solid #ccc;
  width: 33rem;
  list-style: none;
  margin: 0;
  left: 0;
  z-index: 2;
  position: absolute;
  top: 6rem;
  display: none;
  padding: 0.5rem 0;
}

section.kalkulator section.choice_part .drop_down_list .list_panel li, section.kalkulator section.image_part .drop_down_list .list_panel li, section.kalkulator section.summary_part .drop_down_list .list_panel li {
  cursor: pointer;
  color: #585858;
  padding: 0.3rem 0 0.3rem 1.5rem;
}

section.kalkulator section.choice_part .drop_down_list .list_panel li:hover, section.kalkulator section.image_part .drop_down_list .list_panel li:hover, section.kalkulator section.summary_part .drop_down_list .list_panel li:hover {
  background-color: #e6e6e6;
}

section.kalkulator section.choice_part .checkbox, section.kalkulator section.image_part .checkbox, section.kalkulator section.summary_part .checkbox {
  margin: 3rem 0 0 0;
}

section.kalkulator section.choice_part .checkbox label, section.kalkulator section.image_part .checkbox label, section.kalkulator section.summary_part .checkbox label {
  font-size: 3rem;
  color: #cecece;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

section.kalkulator section.choice_part .checkbox label .transport, section.kalkulator section.image_part .checkbox label .transport, section.kalkulator section.summary_part .checkbox label .transport {
  padding: 0 0 0 1rem;
  line-height: 5rem;
  transition: 0.5s;
}

section.kalkulator section.choice_part .checkbox label .transport:hover, section.kalkulator section.image_part .checkbox label .transport:hover, section.kalkulator section.summary_part .checkbox label .transport:hover {
  color: #666666;
}

section.kalkulator section.choice_part .checkbox input[type=checkbox], section.kalkulator section.image_part .checkbox input[type=checkbox], section.kalkulator section.summary_part .checkbox input[type=checkbox] {
  display: none;
}

section.kalkulator section.choice_part .checkbox input[type=checkbox] + .tick, section.kalkulator section.image_part .checkbox input[type=checkbox] + .tick, section.kalkulator section.summary_part .checkbox input[type=checkbox] + .tick {
  display: block;
  width: 5rem;
  height: 5rem;
  background: #fff;
  cursor: pointer;
  border: 1px solid #4BC3A9;
  border: 1px solid rgba(75, 195, 169, 0.75);
}

section.kalkulator section.choice_part .checkbox input[type=checkbox]:checked + .tick, section.kalkulator section.image_part .checkbox input[type=checkbox]:checked + .tick, section.kalkulator section.summary_part .checkbox input[type=checkbox]:checked + .tick {
  background-image: url("images/form_ok.jpg");
  -webkit-background-size: 4rem;
  background-size: 5rem;
  background-position: center;
  background-repeat: no-repeat;
}

section.kalkulator section.image_part {
  width: 33rem;
  justify-content: center;
}

section.kalkulator section.image_part figure {
  height: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

section.kalkulator section.image_part figure img {
  width: 37rem;
  max-width: none;
  max-height: none;
  margin-left: -2.4rem;
}

section.kalkulator section.summary_part {
  align-items: flex-end;
  font-size: 2.6rem;
}

section.kalkulator section.summary_part h3 {
  text-align: right;
}

section.kalkulator section.summary_part .empty-space {
  height: 4rem;
}

section.kalkulator section.summary_part .summary_panel {
  background-color: white;
  width: 33rem;
  height: 22rem;
  line-height: 3.2rem;
  padding: 1rem;
}

section.kalkulator section.summary_part .summary_panel .panel_left {
  float: left;
  width: 21rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e7e7e7;
}

section.kalkulator section.summary_part .summary_panel .panel_right {
  float: left;
  width: 10rem;
  border-left: 1px solid #e7e7e7;
  text-align: right;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e7e7e7;
}

section.kalkulator section.summary_part .summary_panel .panel_left, section.kalkulator section.summary_part .summary_panel .panel_right {
  height: 16rem;
}

section.kalkulator section.summary_part .summary_panel .panel_left h4, section.kalkulator section.summary_part .summary_panel .panel_right h4 {
  color: #24baa0;
}

section.kalkulator section.summary_part .summary_panel .panel_left span {
  color: #5b5a5a;
  display: block;
  margin-top: 0.7rem;
}

section.kalkulator section.summary_part .summary_panel .panel_left span.color {
  margin-top: 0.3rem;
}

section.kalkulator section.summary_part .summary_panel .panel_right span {
  display: block;
  color: #24baa0;
  margin-top: 0.7rem;
}

section.kalkulator section.summary_part .summary_panel .panel_right span.color.value {
  margin-top: 0.3rem;
}

section.kalkulator section.summary_part .summary_panel .sum_label {
  display: inline-block;
  width: 21rem;
  margin-top: 1rem;
  color: #5b5a5a;
}

section.kalkulator section.summary_part .summary_panel .sum {
  display: inline-block;
  width: 9rem;
  text-align: right;
  margin-top: 1rem;
  color: #24baa0;
}

section.kalkulator section.summary_part .order {
  width: 100%;
  display: -webkit- flex;
  display: -moz- flex;
  display: -ms- flex;
  display: -o- flex;
  display: flex;
  justify-content: center;
}

section.kalkulator section.summary_part .order .green_button {
  background-color: #27c7ab;
  color: white;
  width: 25rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 2.4rem;
  margin-top: 2rem;
  border-radius: 0.8rem;
  text-decoration: none;
  transition: background 0.5s, color 0.5s;
}

section.kalkulator section.summary_part .order .green_button:hover {
  background-color: #fff;
  color: #24baa0;
  border: 0.25rem solid #24baa0;
}

#kontakt {
  height: 56rem;
  display: -webkit- flex;
  display: -moz- flex;
  display: -ms- flex;
  display: -o- flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

#kontakt form {
  height: 45rem;
}

#kontakt form .box1 h3 {
  color: #575757;
  font-size: 2rem;
  font-family: ralewaysemibold, sans-serif;
}

#kontakt form .box1 input, #kontakt form .box1 textarea {
  display: block;
  width: 60rem;
  border: 1px solid #4BC3A9;
  border: 1px solid rgba(75, 195, 169, 0.75);
  padding: 2rem 1.5rem;
  font-size: 2.5rem;
  font-family: ralewaymedium;
}

#kontakt form .box1 textarea {
  height: 18rem;
  resize: none;
  margin-bottom: 0;
}

#kontakt form .box1 input[type=text]::-webkit-input-placeholder, #kontakt form .box1 input[type=email]::-webkit-input-placeholder, #kontakt form .box1 textarea::-webkit-input-placeholder {
  font-family: ralewaylight;
  font-size: 3rem;
}

#kontakt form .box1 input[type=text]:-moz-placeholder, #kontakt form .box1 input[type=email]:-moz-placeholder, #kontakt form .box1 textarea:-moz-placeholder {
  font-family: ralewaylight;
  font-size: 3rem;
}

#kontakt form .box1 input[type=text]::-moz-placeholder, #kontakt form .box1 input[type=email]::-moz-placeholder, #kontakt form .box1 textarea::-moz-placeholder {
  font-family: ralewaylight;
  font-size: 3rem;
}

#kontakt form .box1 input[type=text]:-ms-input-placeholder, #kontakt form .box1 input[type=email]:-ms-input-placeholder, #kontakt form .box1 textarea:-ms-input-placeholder {
  font-family: ralewaylight;
  font-size: 3rem;
}

#kontakt form .box2 {
  width: 35rem;
  align-items: center;
}

#kontakt form .box2 img {
  width: 27rem;
}

#kontakt form .box2 label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  justify-content: space-between;
  color: #999;
  transition: 0.5s;
}

#kontakt form .box2 label:hover {
  color: #333333;
}

#kontakt form .box2 label .zgoda {
  font-family: ralewaylight;
  padding: 2px 7px;
  font-size: 2rem;
  text-align: left;
  width: 30rem;
}

#kontakt form .box2 label input[type=checkbox] {
  display: none;
}

#kontakt form .box2 label input[type=checkbox] + .tick {
  width: 5rem;
  height: 5rem;
  background: #fff;
  cursor: pointer;
  border: 1px solid #4BC3A9;
  border: 1px solid rgba(75, 195, 169, 0.75);
}

#kontakt form .box2 label input[type=checkbox]:checked + .tick {
  background-image: url("images/form_ok.jpg");
  -webkit-background-size: 5rem;
  background-size: 5rem;
  background-position: center;
  background-repeat: no-repeat;
}

#kontakt form .box2 a {
  box-sizing: border-box;
  width: 100%;
  height: 7rem;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3.2rem;
  font-family: ralewaysemibold;
  background-color: #24baa0;
  text-decoration: none;
  border-radius: 0.7rem;
  transition: background 0.5s, color 0.5s;
}

#kontakt form .box2 a:hover {
  background-color: transparent;
  color: #24baa0;
  border: 0.25rem solid #24baa0;
}

footer {
  padding: 10px 0 30px;
  color: #777;
  font-family: ralewaysemibold;
  font-size: 1.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

footer .container {
  display: -webkit- flex;
  display: -moz- flex;
  display: -ms- flex;
  display: -o- flex;
  display: flex;
  align-items: center;
}

footer .copyleft {
  width: 530px;
}

footer .copyleft span {
  display: block;
  transform: rotate(180deg);
  transform-origin: 50% 48%;
}

footer .right {
  width: 350px;
  justify-content: space-between;
}

footer .copyleft, footer .right {
  display: -webkit- flex;
  display: -moz- flex;
  display: -ms- flex;
  display: -o- flex;
  display: flex;
  align-items: center;
}

footer .follow {
  display: -webkit- flex;
  display: -moz- flex;
  display: -ms- flex;
  display: -o- flex;
  display: flex;
  width: 15rem;
  justify-content: space-between;
}

footer .social {
  background-image: url(images/social_media.png);
  background-repeat: no-repeat;
  display: block;
  width: 35px;
  height: 35px;
  filter: grayscale(100);
  opacity: .5;
  position: relative;
  top: 0;
  transition: top 0.25s, opacity 0.5s, filter 0.75s;
}

footer .social:hover {
  filter: grayscale(0);
  opacity: 1;
  top: -0.5rem;
}

footer .social-flickr {
  background-position: -5px -5px;
}

footer .social-pinterest {
  background-position: -50px -5px;
}

footer .social-twitter {
  background-position: -5px -50px;
}

footer .social-vimeo {
  background-position: -50px -50px;
}

footer .logo {
  font-family: ralewaysemibold;
  font-size: 2rem;
}

footer .logo span {
  font-family: ralewayextrabold;
}

/*# sourceMappingURL=style.css.map */
