footer
    padding: 10px 0 30px
    color: #777
    font-family: ralewaysemibold
    font-size: 1.25rem
    @include unselectable
    // background-color: darken(#fff, 10%)

    .container
        @include display(flex)
        // justify-content: space-between
        align-items: center
        // border: 1px solid red

    .copyleft
        // float: left
        width: 530px
        // margin: 0 3rem 0 0
        // padding: 5px 0 0

        span
            display: block
            transform: rotate(180deg)
            transform-origin: 50% 48%
            // padding: 1px 0 0 0

    .right
        // float: left
        width: 350px
        justify-content: space-between

    .copyleft, .right
        // margin-top: 20px
        // height: 4rem
        @include display(flex)
        align-items: center
        // border: 1px solid red

footer .follow
    // float: left
    @include display(flex)
    width: 15rem
    // height: 3.75rem
    justify-content: space-between
    // border: 1px solid red

footer
    .social
        background-image: url(images/social_media.png)
        background-repeat: no-repeat
        display: block
        width: 35px
        height: 35px
        filter: grayscale(100)
        opacity: .5
        position: relative
        top: 0
        transition: top 0.25s, opacity 0.5s, filter 0.75s

        &:hover
            filter: grayscale(0)
            opacity: 1
            // transform: scale(1.25)
            top: -0.5rem

    .social-flickr
        background-position: -5px -5px

    .social-pinterest
        background-position: -50px -5px

    .social-twitter
        background-position: -5px -50px

    .social-vimeo
        background-position: -50px -50px


// footer .follow img
//     width: 21px


footer .logo
    // float: right
    font-family: ralewaysemibold
    // padding: 5px 0
    font-size: 2rem


footer .logo span
    font-family: ralewayextrabold
