header
    background-color: #000
    color: #fff
    font-size: 1.5rem
    font-family: ralewaysemibold
    @include unselectable

    .container
        @include display(flex)
        align-items: baseline
        justify-content: space-between

    .logo
        // float: left
        padding: 1rem 0
        font-size: 2rem
        // border: 1px solid #fff

        span
            font-family: ralewayextrabold
            color: #4BC3A9


    nav
        // float: right
        padding: 1rem 0 1rem
        // border: 1px solid #fff

        ul:not(.dropdown)
            width: 30rem
            @include display(flex)
            justify-content: space-between
            // position: relative

        li
            display: inline-block
            // padding: 0 0 0 40px

            &:first-child
                position: relative

        a
            color: #fff
            text-decoration: none

            &:hover
                text-shadow: 0 0 0.2rem #000, 0 0 0.5rem #fff


header .dropdown
    display: none
    position: absolute
    left: -1.75rem
    top: 3.75rem
    list-style-type: none
    font-family: ralewaymedium


header .dropdown > li
    background-color: #000
    display: inherit
    padding: 0.5rem 1rem
    // line-height: 2rem


header .dropdown > li:first-child
    padding-top: 1rem


.dropdown > li:last-child
    padding-bottom: 1rem


// black triangle on top of the dropdown menu: it would be rather nice
// to make it disappear with a delay (css transitions??) so that it's
// easier for the user to click on the dropdown smenu
li:hover > .dropdown::before
    content: ''
    height: 0
    width: 0
    border-top: 1.2rem solid transparent
    border-left: 1.2rem solid transparent
    border-bottom: 1.2rem solid black
    border-right: 1.2rem solid transparent
    position: absolute
    top: -2rem
    left: 3.75rem


li:hover > .dropdown
    @include display(flex)
    flex-direction: column
