#section3
    background-color: #efeded
    height: 69rem
    padding: 3.5rem 0 0 0

    .container
        @include display(flex)
        justify-content: space-between

    #cennik
        width: 31rem
        border-bottom: 0.7rem solid #4BC3A9
        font-family: ralewaymedium
        font-size: 2rem

    .basic, .standard, .advance
        color: #aaa
        font-family: ralewaymedium, Arial, sans-serif
        text-align: center
        width: 32rem

    .box
        @include display(flex)
        flex-direction: column
        justify-content: space-around
        align-items: center
        height: 49rem
        border: 0.2rem solid #ccc7c7
        position: relative
        font-size: 1.6rem
        background: #f7f2f2
        margin-top: 8rem

        h3
            color: #4BC3A9
            font-size: 2.5rem
            margin: 2rem 0 0
            font-family: ralewaymedium

        .circle, .dot
            position: absolute
            border-radius: 50%

        .circle
            width: 6rem
            height: 6rem
            border: 0.2rem solid #ccc7c7
            top: -4rem
            left: 13rem
            background: #fff

        .dot
            width: 3rem
            height: 3rem
            background-color: #aaa
            border-radius: 50%
            top: 1.3rem
            left: 1.3rem

        .price
            @include display(flex)
            flex-direction: column
            justify-content: center
            width: 13rem
            height: 13rem
            border: 2px solid #ccc7c7
            background: #fff
            border-radius: 50%
            font-size: 4.5rem
            font-family: ralewaybold

            .number
                position: relative
                left: -0.5rem

            sup
                font-size: 1.4rem
                position: absolute
                top: 1.2rem

            .unit
                font-size: 1.6rem
                font-family: ralewaysemibold

        .table_wrapper
            width: 100%
            height: 16rem

        table
            width: 100%
            color: #848080
            font-size: 2rem

        tr
            line-height: 4rem

            &:nth-child(2n+1)
                background-color: #d8d6d6

            &:nth-child(2n)
                background-color: #efeded

        a
            display: block
            border-radius: 0.7rem
            background: #4BC3A9
            color: #fff
            text-decoration: none
            padding: 0.5rem 3rem
            margin-bottom: 1rem


        &:hover
            border: 0.2rem solid #4BC3A9
            background-color: #4BC3A9

            .circle
                background-color: #4BC3A9
                border: 2px solid #4BC3A9

            h3
                color: #fff

            .dot
                background-color: #fff
                border: 2px solid #fff

            .price
               color: #4BC3A9
               border: 2px solid #4BC3A9

            tr
                &:nth-child(2n+1)
                    background-color: #f7f2f2

                &:nth-child(2n)
                    background-color: #efeded

            a
                color: #4BC3A9
                background-color: #fff
