#section1
    background-image: linear-gradient(#fff, rgba(0, 0, 0, .15))
    // padding: 50px 0 0 0
    font-size: 1.25rem

    .container
        @include display(flex)
        height: 40rem
        justify-content: space-between
        align-items: flex-end

    //
    // .prev, .image, .text
    //     float: left

    .prev, .next
        // width: 35px
        height: 100%
        cursor: pointer
        // line-height: 300px
        font-family: ralewaylight
        color: #4BC3A9
        font-size: 7.2rem
        @include unselectable
        @include display(flex)
        align-items: center


    .prev:hover, .next:hover
        color: #2F8E83

    //
    // .next
    //     float: right


    .image
        width: 32rem
        height: 35rem

    // background-image: url('../images/black_chair.png')
    // -webkit-background-size: auto 100%
    // background-size: auto 100%
    // background-position: center
    // background-repeat: no-repeat

    ul
        list-style: none

        li
            display: none

        li.visible
            display: block
            float: left
            width: 32rem
            height: 35rem
            overflow: hidden

            img
                position: relative
                left: -9rem
                max-width: none
                @include unselectable


    .text
        @include display(flex)
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        width: 40rem
        height: 35rem
        // border: 1px solid red



    .text h1
        font-size: 3.6rem
        // margin: 0 0 1rem
        @include unselectable


    .text span
        color: #4BC3A9
        font-family: ralewaybold


    .text p
        margin: 2rem 0
        font-size: 1.8rem
        // line-height: 2rem


    .text a
        display: block
        width: 20rem
        margin: 1rem
        color: white
        font-size: 1.8rem
        background-color: #4BC3A9
        text-decoration: none
        padding: 1rem 2rem
        border-radius: 0.7rem

    .text a:hover
        background-color: #2F8E83
