#section2
    background-color: #fff
    height: 290px


#chairclair, #chairmarg
    margin: 20px 0 0 0
    float: left
    position: relative
    margin-right: 20px



#chairclair img, #chairmarg img
    width: 285px


#chairclair div, #chairmarg div, #findsall div
    font-family: ralewaybold
    color: #000
    border-bottom: 7px solid #4BC3A9
    font-size: 13.5px
    width: 120px
    padding: 0 5px 0 0

figure
    figcaption
        position: absolute
        display: block
        width: 285px
        background-color: rgba(255,255,255,.3)
        top: 130px
        padding: 10px 10px 20px 10px

    &:hover
        figcaption
            display: none


#findsall
    margin: 20px 0 20px 0
    float: right
    border: 1.5px solid #ddd
    width: 300px
    height: 215px
    padding: 20px
    text-align: left


#findsall p
    padding: 0
    margin: 15px 0 15px
    font-size: 12px
    line-height: 18px
