#section2
    background-color: #fff
    height: 35rem

    .container
        justify-content: space-between
        align-items: flex-start


    #chairclair, #chairmarg
        position: relative


    #chairclair, #chairmarg, #findsall
        width: 33rem
        margin: 3rem 0


        div
            font-family: ralewaybold
            color: #000
            border-bottom: 0.7rem solid #4BC3A9
            font-size: 1.6rem
            width: 14.5rem
            padding: 0 0.5rem 0 0

    figure

        figcaption
            position: absolute
            display: block
            width: 100%
            background-color: rgba(255,255,255,.3)
            top: 15rem
            padding: 1rem 1rem 2rem

        &:hover
            figcaption
                display: none


    #findsall
        float: right
        border: 1px solid #ddd
        // width: 30rem
        height: 25rem
        padding: 2rem
        text-align: left

        p
            padding: 0
            margin: 1.5rem 0
            font-size: 1.4rem
            line-height: 1.8rem
