#section1
    background-image: linear-gradient(#fff, rgba(0, 0, 0, .15))
    height: 50rem
    align-items: center

    .container
        height: 40rem
        justify-content: space-between
        align-items: flex-end
        // border: 1px solid red

    .prev, .next
        width: 5rem
        height: 100%
        cursor: pointer
        // line-height: 300px
        font-family: ralewaylight
        color: #4BC3A9
        font-size: 7.2rem
        @include unselectable
        justify-content: center
        align-items: center
        // border: 1px solid red

        .left, .right
            position: relative
            transition: 0.5s

        .left
            left: 0

        .right
            right: 0


    .prev:hover, .next:hover
        // color: #2F8E83

        .left
            left: -2rem

        .right
            right: -2rem


    .image
        // width: 36rem


    ul
        list-style: none

        li
            display: none

        li.visible
            display: block
            float: left
            width: 41rem
            overflow: hidden

            img
                position: relative
                left: -10rem
                top: 3rem
                width: 140%
                max-width: none
                @include unselectable


    .text
        @include display(flex)
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        width: 42rem
        height: 38rem
        // border: 1px solid red

        h1
            font-size: 4rem
            @include unselectable


        span
            color: #4BC3A9
            font-family: ralewaybold


        p
            margin: 2rem 0
            font-size: 1.4rem
            font-family: ralewaymedium
            line-height: 2.5rem


        a
            box-sizing: border-box
            width: 27rem
            height: 5rem
            justify-content: center
            align-items: center
            margin: 1rem
            color: white
            font-size: 2.25rem
            background-color: #4BC3A9
            text-decoration: none
            border-radius: 0.7rem
            transition: background 0.5s, color 0.5s

            &:hover
                background-color: #fff
                color: #4BC3A9
                border: 0.25rem solid #4BC3A9

    .empty-space
        width: 5rem
