#section1
    background-image: linear-gradient(#fff, rgba(0, 0, 0, .15))
    padding: 50px 0 0 0


    .prev, .image, .text
        float: left


    .prev, .next
        width: 35px
        height: 350px
        cursor: pointer
        line-height: 300px
        font-family: ralewaylight
        color: #4BC3A9
        font-size: 72px
        @include unselectable


    .prev:hover, .next:hover
        color: #2F8E83


    .next
        float: right


    .image
        width: 350px
        height: 337px

    // background-image: url('../images/black_chair.png')
    // -webkit-background-size: auto 100%
    // background-size: auto 100%
    // background-position: center
    // background-repeat: no-repeat

    ul
        list-style: none

        li
            display: none

        li.visible
            display: block
            float: left
            width: 469px
            height: 337px
            overflow: hidden

            img
                margin: 0 0 0 -50px
                @include unselectable


    .text
        text-align: center
        width: 450px
        height: 350px
        padding: 50px



    .text h1
        font-size: 36px
        margin: 5px
        @include unselectable


    .text span
        color: #4BC3A9
        font-family: ralewaybold


    .text p
        margin: 20px 0 20px
        font-size: 12px
        line-height: 20px


    .text a
        display: block
        margin: 50px
        width: 200px
        margin: 20px auto
        color: white
        font-size: 18px
        background-color: #4BC3A9
        text-decoration: none
        padding: 10px 20px
        border-radius: 7px



    .text a:hover
        background-color: #2F8E83
