@mixin clearfix
    // zadanie 0.1
    &:before, &:after
        content: ''
        display: table
        clear: both

@mixin placeholder
    &::-webkit-input-placeholder
        @content
    &:-moz-placeholder
        @content
    &::-moz-placeholder
        @content
    &:-ms-input-placeholder
        @content

@mixin unselectable
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    -o-user-select: none
    user-select: none
